<h1>Events for <%= @genre.name %></h1>
<%= link_to :back do %>
  <i class="fas fa-solid fa-angle-left my-3 secondary-button"> Back</i>
<% end %>
<% @genre.events.each do |event| %>
  <%= link_to "#{event.id}. #{event.title}", event_path(event), class: 'primary-button m-3' %>
<% end %>
