// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// custom colors
// blue variants
$very-light-blue: #EBF3FF;
$light-blue: #70AEFF;
$blue: #157AFF;
$dark-blue: #0058CC;
$very-dark-blue: #002453;

// greyscale colors
$light-white: #FFFFFF;
$white: #FDFDFD;
$light-gray: #E3E3E3;
$gray: #B2B1B6;
$dark-gray: #7a7a7a;
$black: #0E0E17;
