<%# <div class="container"> %>
  <%= current_user.events.each do |event| %>
  <%# <div class="row" id="card-row"> %>
    <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%= event.date %></a>
          <h2><%= event.title %></h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>

  <%# </div> %>
  <% end %>
<%# </div> %>
