<%# <div class="container" id="card-container"> %>

  <div class="row">
    <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%= Date.new  %></a>
          <h2>Buddy up for 🤘🎸!</h2>
          <div id="location">
            <p><i class="fa-solid fa-location-dot"></i>Location</p>
            <i class="fa-thin fa-user"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>

        </div>
      </div>
    </div>
  </div>
<%# </div> %>
