<div class="footer" style="background-image: url(<%= asset_path 'banner-dark-blue-blur.jpg' %>);">
  <div class="about text-white">
    <div>
      <h3 class="text-white">Notes Connected</h5>
      <div class="d-flex justify-content-between">
        <span>About us</span>
        <span>Contact us</span>
      </div>
    </div>
    <div>
      <p>© 2022 Notes connected</p>
    </div>
  </div>
  <div class="text-center">
    <a href="#top" style="color: #EBF3FF">
        Back to top <i class="fas fa-solid fa-arrow-up"></i>
    </a>
  </div>
  <div class="d-flex flex-column justify-content-between align-items-center">
    <div>
      <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
      <a href="https://youtu.be/dQw4w9WgXcQ" class="social-link"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="text-white">
      Privacy Policy
    </div>
  </div>
</div>
