<div class="container" id="container-genres">
  <div class="row" id="row-genres">
    <h3>Categories</h3>
    <% @genres.limit(4).each do |genre| %>
      <div class="col-3" id="card-genres">
        <a href="<%= genre_path(genre)%>">
          <div>
            <%=cl_image_tag genre.photo.key, :transformation=>[
              { :color=> "#FFFFFF", :overlay=>{:font_family=>"Exo", :font_size=>90, :text=> genre.name}},
              {:flags=>"layer_apply", :gravity=>"center"}
              ]%>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
