<div class="row-genres">
  <% @genres.limit(8).each do |genre| %>
    <div>
      <a href="<%= genre_path(genre)%>">
        <div class="genre-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cloudinary_url(genre.photo.key) %>)">
          <%= genre.name%>
        </div>
      </a>
    </div>
  <% end %>
</div>
