<div class="d-flex justify-content-between">
  <% @reviews.each do |review| %>
  <div class="card">
    <a><%= review.reviewer.user_name  %></a>
    <a><%= review.score %> / 5</a>
    <p>“<%= review.comment %>”</p>
  </div>
  <% end %>
</div>
