<div class="container">
  <h1>Events</h1>

  <%= link_to :back do %>
    <i class="fas fa-solid fa-angle-left my-3 secondary-button"> Back</i>
  <% end %>
  <br>
  <%= render 'events/event_cards' %>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
