<h1>Events page index - placeholder ofc</h1>
<%= link_to root_path do %>
  <i class="fas fa-solid fa-angle-left my-3 btn btn-primary"> Back</i>
<% end %>
<% @events.each do |e| %>
 <p><%= e.title %></p>
<% end %>
