<div class="my-3">
  <h1><%= @user.user_name %></h1>
  <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
  <br>
  <% if @user.photo.key %>
    <%= cl_image_tag(@user.photo.key, width: 200, height: 200) %>
  <% end %>
  <br>
  <h1>TODO: Followers</h1>
  <br>
  <h1>TODO: Follows</h1>
  <br>
  <br>
  <h1>TODO: list events (past, upcoming)</h1>
  <h2 class="">  TODO: list events(My events, attended/attending)</h2>
  <br><br><br>
  <h3>My Events</h3>
  <% @user.attends.each do |attendance| %>
    <p><%= attendance.title %></p>
  <% end %>
</div>
