#container-cards{
  display: flex;
  justify-content: center;
}

#row-cards {
  position: inherit;
  justify-content: center;
}

#card-product {
  width: 293px;
  height: 300px;
  left: 426px;
  top: 619px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
}

#card-product img {
    height: 200px;
    width: 293px;
    border-radius: 5px 5px 0 0;
    position: relative;
    right: 12px;
    object-fit: cover;
  }

#card-product h2 {
  position: inherit;
  left: 4.24%;
  right: 40.99%;
  top: 71.86%;
  bottom: 20%;

  font-family: Exo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

#card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
}

#card-product .card-product-infos {
  padding: 16px;
}

#date {
  position: inherit;
  width: 74px;
  height: 14px;
  left: 12px;
  top: 197px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #157AFF;
}

#location {
  display: flex;
  justify-content: space-between;
}

#card-product:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
  border-color: #007bff !important;
}
