.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  background-size: cover;
  background-position: bottom;
  margin-top: 5px;
}
