#container-genres {
  display: flex;
}

#row-genres {
  // margin-top: 20px;
  // position: inherit;
  // align-items: center;
}

#card-genres img {
  height: 250px;
  width: 300px;
  left: 0px;
  top: 0px;
}
