.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-very-dark-blue {
  background-color: $very-dark-blue;
}

.navbar-lewagon-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-item {
  margin-right: 6px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
