.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  // z-index: 2;
  //background-image: url("banner-dark-blue-blur.jpg");
}

.navbar-lewagon-very-dark-blue {
  background-color: $very-dark-blue;
}

.nav-item {
  margin-right: 6px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
